header {
  background: url('images/bannerfinal.jpg') ;
  padding : 5px 0 5px 20px;
  margin: 12px;
}
img {
  border-radius: 50%;
  position: absolute;
  left: 1000px;
  top: 52px;
}
section {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin: 12px;
  padding: 5px 20px 5px 20px;
}
footer{
  background: url('images/bannerfinal.jpg') ;
  padding : 5px 0 5px 5px;
  margin: 12px;
  align-items: center;
}
h1{
  font-family: Georgia, serif;
}
h2{
  font-family: Georgia, serif;
}
h3{
  font-family: Georgia, serif; 
}
h4{
  font-family: Georgia, serif;
  text-align: center;
}
p{
  font-family: Georgia, serif;
}
h5{
  font-size: 25px;
  text-align: center;
}
li{
  font-family: Georgia, serif;
}
li1{
  color:blue;
  font-weight: bold;
}
